<div class='message-wrapper'>
  {{#with message }}
  <span class='message-header'>
    <span>{{avatar}}</span>
    <span>{{title}}</span>
    <span>{{username}}</sp>
    <span>{{timeSent}}</span>
  </div>
  <div class="message-body">
    {{body}}
  </div>
  {{/with}}
</div>